@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="window-chat">
    <label>***</label>
    </div>
<!--<textarea placeholder="Enter your message.." autofocus></textarea>-->
<input type="text" name="name" value="" placeholder="Enter your message.."/>
<div>
    <a href="javascript://">Send</a>
    </div>    
