@{
    //Layout = null;
    ViewBag.Title = "My Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>It's my page</title>
</head>
<body>

    <div>
        <textarea placeholder="Enter your message.." autofocus></textarea>
    </div>
</body>
</html>
